

.navbar {
  background-color: rgb(48, 98, 86);
}

.nav-link {
  font-family: 'Orbitron', sans-serif;
  color: aquamarine;
}

.btn-center {
  display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
}

// Cards
.btn-dark {
  color: aquamarine;
  margin-bottom: 1em;
}

.btn-dark:hover {
  background-color: rgb(69, 87, 136);
    //color: rgb(10, 8, 8);
}

.container .card {
  margin-bottom: 8%;
  -webkit-box-shadow: 0 0 5px 2px rgb(48, 98, 86);
  box-shadow: 5px 5px 5px rgb(48, 98, 86);
}


.container {
  margin-top: 2%;
  padding: 20px;
}

.inner {
  overflow: hidden;
}

.inner img {
  transition: all 1.0s ease;
}

.inner:hover img {
  transform: scale(1.2);
}


  // card design

  div {
    &.card {
      height: 30em;

      p {
        &.card-text {
          height: 3em;
          overflow: hidden;
        }
        //&.card-img-top {
         // height: 8em;
        //}
      }
    }
  }


  // Modal

  .card-texty {
    overflow: visible;
    padding: 2%;
  }


  input {
background-color: lightsteelblue;
border-radius: 1em;
  }

  .popupForm {
border-radius: 1em;
  }

  #vueItem {
    background-color: rgb(48, 98, 86);

  }
