

<!-- Navbar when not connected-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" *ngIf="!usrId">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="">
    <img src="./assets/logo.png" alt="logo" style="width:100px; height:75%">
  </a>
<!-- bouton responsive-->
<button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#responsive">
<span class="navbar-toggler-icon"></span>
</button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="responsive" [ngClass]="{ 'show': navbarOpen}">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" (click)="openModal(popupform)">S'inscrire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" (click)="openModal(popupform2)">Se connecter</a>
    </li>
</ul>
</div>
</nav>

<!-- Navbar when connected-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark" *ngIf="usrId">
  <!-- Brand/logo -->
<a class="navbar-brand" routerLink="">
    <img src="./assets/logo.png" alt="logo" style="width:100px; height:75%">
  </a>
<!-- bouton responsive-->
<button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#responsive">
<span class="navbar-toggler-icon"></span>
</button>
  <!-- Links -->
  <div class="collapse navbar-collapse" id="responsive" [ngClass]="{ 'show': navbarOpen}">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" routerLink='myitems'>Mes Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='mylikes'>Mes Likes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./notification">Mes notifs</a>
    </li>
</ul>

    <ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
      <a class="nav-link " href="#">
        Mon profil
      </a>
    </li>
    </ul>
</div>
</nav>

<!-- Modal-->

<!--#######################################################################################################################-->
<ng-template #popup>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-title" class="text-center">
    Title
  </div>
    <div class="modal-body">
  Description

  </div>
  <div class="modal-footer">
  Posté par (...)
  </div>
</ng-template>

<ng-template #popupform >
  <div class="modal-header" class="text-center" >
  <strong>Nous rejoindre</strong>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <!-- Ajouter le composant de création d'un nouveau Usr -->
      <app-signup></app-signup>

    </div>

</ng-template>

<!--#######################################################################################################################-->

<ng-template #popupform2>
  <div class="modal-header" class="text-center">
  <strong>Se Connecter</strong>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <!-- Ajouter le composant de création d'un nouveau Usr -->
      <app-login></app-login>

    </div>

</ng-template>

<router-outlet></router-outlet>

<!--
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item"><a routerLink="/users" class="btn btn-info">List Users</a></li>
            <li class="list-inline-item"><a routerLink="/signup" class="btn btn-info">Add User</a></li>
            <li class="list-inline-item"><a routerLink="/login" class="btn btn-info">Log In</a></li>
            <li class="list-inline-item"><a routerLink="/items" class="btn btn-info">All Items</a></li>
            <li class="list-inline-item"><button id='update' (click)="logout()">Log Out</button></li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
-->
