h2 {
  margin-top: 2%;
}

.btn {
  margin: 10px;
  padding: 10px;
  border-radius: 1em;
}

.btn-center {
  position: fixed;
  background-color: #1f2833;
  border: none;
}

.card {
margin: 2%;
padding: 1%;
}

.card-text {
  overflow: hidden;
}

textarea {
  background-color: lightgray;;
}

input {
  border-radius: 1em;
  background-color: lightgray;
}
