<p>give-list works!</p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Photo</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
    </table>
  </div>
</div>
<div *ngFor="let item of items">
  <td>{{ item.id }}</td>
  <td>{{ item.title }}</td>
  <td><img src="http://10.160.14.17:81/{{ item.photo }}"></td>
  <td>{{ item.description }}</td>
  <td>
    <button id='remove' (click)="remove(item.id)">
      X
    </button>
  </td>
  <td>
    <button id='update' (click)="loadUpdateFormFor(item)">
      Update
    </button>
  </td>
</div>

<button id='add' (click)="loadAddForm()">Add item</button>

<!-- Ajouter le composant de création d'un nouvel item -->
<app-add-item (addItemEvent)="receiveAddForm($event)" [itemForm]="itemForm" [hidden]="!creatingItem"></app-add-item>

<!-- Ajouter le composant de mise a jour -->
<app-update-item (updateItemEvent)="receiveUpdateForm($event)" [itemForm]="itemForm" [hidden]="!hasItem()"></app-update-item>
