<h2>Ma liste d'items</h2>
<button class="btn-center" (click)="openModal(popupform)">
  <lottie-player
    src="https://assets5.lottiefiles.com/packages/lf20_tf6wSv.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;" hover loop   >
  </lottie-player>
</button>

<div class="container mt-4 text center">
  <div class="row justify-content-center">
    <div class="col-md-5 col-12" *ngFor="let item of items">
      <div class="card shadow">
        <div class="inner">
          <img class="card-img-top img-fluid"
            src="http://10.160.14.17:81/{{ item.photo }}"
            alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <div class="card-footer">
            <button class="btn btn-dark btn-lg" (click)="loadUpdateFormFor(item); openModal(popupform2)">Modifier</button>
            <button class="btn btn-dark btn-lg" (click)="remove(item.id)">Supprimer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal-->

<!--#######################################################################################################################-->
<ng-template #popup>
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-title" class="text-center">
    Title
  </div>
    <div class="modal-body">
  Description

  </div>
  <div class="modal-footer">
  Posté par (...)
  </div>
</ng-template>

<ng-template #popupform >
  <div class="modal-header" class="text-center" >
  <strong>Nous rejoindre</strong>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <!-- Ajouter le composant de création d'un nouvel item -->
      <app-add-item (addItemEvent)="receiveAddForm($event)" [itemForm]="itemForm" [hidden]="!creatingItem"></app-add-item>

    </div>

</ng-template>

<!--#######################################################################################################################-->

<ng-template #popupform2>
  <div class="modal-header" class="text-center">
  <strong>Se Connecter</strong>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <!-- Ajouter le composant de mise a jour -->
      <app-update-item (updateItemEvent)="receiveUpdateForm($event)" [itemForm]="itemForm" [hidden]="!hasItem()"></app-update-item>

    </div>

</ng-template>



