<div class="jumbotron text-center">
  <h1 class="display-4 text-white">
    La productivité au 21ème siècle
  </h1>
  <h2 class="text-white">
    Atteignez plus d'objectifs en moins de temps.
  </h2>
  <p class="lead mt-4">
    <a class="btn btn-success btn-lg" href="#" role="button" routerLink="/app/dashboard">
    <strong>Terminez vos journées en héros</strong>
    </a>
  </p>
</div>
<button onclick="myFunction()" id="myBtn">Show more</button>
<div style= "display: none">
<div class="card mb-3" style="width: 30%, display: flex, flex-direction: column, flex-wrap: wrap">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="width: 30%, display: flex, flex-direction: column, flex-wrap: wrap">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="width: 30%, display: flex, flex-direction: column, flex-wrap: wrap">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="..." class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
