<!--page d'accueil du site-->

<h2>Les derniers items ajoutés</h2>

<div class="container mt-4 text center">
  <div class="row justify-content-center">
    <div class="col-md-4 col-12" *ngFor="let item of items">
      <div class="card shadow">
        <div class="inner">
          <img class="card-img-top img-fluid"
            src="http://10.160.14.17:81/{{ item.photo }}"
            alt="Card image cap">
        </div>
        <div class="card-body text-center">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>
          <button class="btn btn-dark btn-lg" (click)="openModal(popupr, item)">En savoir plus...</button>
          <div class="card-footer">
            <!--<small class="text-muted"> Posté par (....)</small>-->
            <!-- lottie animation-->
            <span id="like">
              <button class="btn center" (click)="like(item.id)">
                <lottie-player
                  src="https://assets10.lottiefiles.com/packages/lf20_ePsPBX.json"  background="transparent"
                  speed="0.7"  style="width: 60px; height: 60px;" hover loop>
                </lottie-player>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <!--try-->
  <ng-template #popupr>
    <div class="modal-header" class="text-center"><h3>{{currentItem.title }}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="card-body" id="vueItem">
      <div class="card shadow">
        <div class="inner">
          <img class="card-img-top"
            src="http://10.160.14.17:81/{{ currentItem.photo }}"
            alt="Card image cap">
        </div>
          <p class="card-texty">{{ currentItem.description }}</p>
      </div>
      <!-- lottie animation-->
      <button class="btn-center" (click)="like(currentItem.id); modalRef.hide()">
        <lottie-player
          src="https://assets10.lottiefiles.com/packages/lf20_ePsPBX.json" background="transparent"
          speed="0.7"  style="width: 100px; height: 100px;" hover loop>
        </lottie-player>
      </button>

      <div class="card-footer" class="text-center">
      <!--  <small class="text-muted"> Posté par (get.item.usr)</small>-->
      </div>
    </div>

  </ng-template>
</div>
