<p>You're on user list<p>

<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Password</th>
          <th scope="col">Avatar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usr of users">
          <td>{{ usr.id }}</td>
          <td>{{ usr.username }}</td>
          <td>{{ usr.password }}</td>
          <td><img src="http://10.160.14.17:81/{{ usr.avatar }}"></td>
          <td>
            <button id='remove' (click)="remove(usr.id)">
              X
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<a routerLink="/myitems" class="btn btn-info">Mes Items</a>
