<p>update-item works!</p>

<form [formGroup]='itemForm' id="itemForm" *ngIf="itemForm">
  <div class="formGroup">
    <input
      type="text"
      id="title"
      formControlName="title"
      placeholder=""
    >
  </div>
  <br>
  <!--<img src="http://10.160.14.17:81/{{ anItem.photo }}">-->
  <div class="formGroup">
    <input
      type="file"
      id="photo"
      formControlName="photo"
      (change)="onFileSelect($event)" />
  </div>
  <br>
  <div class="formGroup">
    <input
      type="text"
      id="description"
      formControlName="description"
      placeholder=""
    >
  </div>
  <br>
  <div class="formGroup">
    <button id='update' class="btn btn-dark btn-lg" style="margin:auto;display:block" (click)="submit()" [disabled]="itemForm.invalid">
    Update
    </button>
  </div>
</form>
